body, html {
  margin: 0;
}

#guitar-backdrop {
  position: absolute;
  z-index: 0;
  visibility: hidden;
}

canvas {
  z-index: -1;
  position: absolute;
}

.interactive-guitar {
  position: relative;
}

.noteButton {
  z-index: 1;
  position: absolute;
  cursor: pointer;
  height: 20px;
  width: 20px;
  text-align: center;
  background-color: lightgray;
  border-radius: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate(-10px, -10px);
}

.noteButton:hover {
  background-color: lightgreen;
  transition-duration: 1s;
}

.selected {
  background-color: green;
}