body, html {
  margin: 0;
}

#guitar-backdrop {
  z-index: -1;
}

.noteButton {
  position: absolute;
  cursor: pointer;
  height: 18px;
  width: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate(-9px, -9px);
}